:root {
  --color-primary: #324376;
  --color-secondary: #586ba4;
  --color-background: #fdfffc;
  --color-accent: #d52941;
  --color-accent-hover: #ef3e36;
  --color-text: #ffffff;
  --color-border: #1f1f1f;
  --border-radius: 50px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;

  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}
@media screen and (min-width: 700px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
/* images */
@media screen and (min-width: 700px) {
  .img_logo {
    float: right;
    margin-right: 20rem;
  }
}
/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-primary);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  text-align: right;
}

::placeholder {
  color: #cdcbd7;
  text-align: right;
}

.input--group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input--group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input--group .b_btn {
  margin: 4px;
}

@media screen and (min-width: 700px) {
  .input {
    font-size: 1.5rem;
  }
  .input--group {
    margin-left: 22rem;
  }
}

/* icons */
.icon {
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}
.icon--search {
  filter: invert(20%) sepia(89%) saturate(405%) hue-rotate(185deg)
    brightness(99%) contrast(90%);
}
.icon--menu,
.icon--user {
  filter: invert(43%) sepia(14%) saturate(1615%) hue-rotate(187deg)
    brightness(91%) contrast(83%);
}
.icon--cart {
  filter: invert(32%) sepia(77%) saturate(2889%) hue-rotate(342deg)
    brightness(97%) contrast(92%);
}

.icon--search:hover {
  filter: invert(17%) sepia(8%) saturate(6882%) hue-rotate(194deg)
    brightness(88%) contrast(86%);
}
.icon--menu:hover,
.icon--user:hover {
  filter: invert(32%) sepia(19%) saturate(1080%) hue-rotate(187deg)
    brightness(88%) contrast(96%);
}
.icon--cart:hover {
  filter: invert(23%) sepia(21%) saturate(7469%) hue-rotate(345deg)
    brightness(98%) contrast(93%);
}

/* Buttons */

.btn_sape {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--accent {
  background: none;
  color: #fff;
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.btn_cart {
  background-color: var(--color-accent);
  color: #fff;
  width: 80px;
  border-radius: 100px;
  margin-top: -2px;
}
.btn_cart span {
  display: none;
}
.btn_cart i {
  font-size: 2.5rem;
}

.btn_cart:hover {
  background-color: var(--color-accent-hover);
  color: #fff;
}

@media screen and (min-width: 700px) {
  .btns {
    position: absolute;
    left: 20rem;
    top: 1rem;
  }
  .btn_cart {
    width: 150px;
    border-radius: 25px;
  }
  .btn_cart span {
    display: block;
  }
  .btn_cart i {
    display: none;
  }
}
/* dropdown */
.rtl {
  direction: rtl;
}
.rtl .dropdown-menu {
  text-align: right;
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.btn_Dropdown {
  background: none;
  border: none;
}
.dropdown-toggle-split {
  float: left;
  margin-right: 0;
  margin-left: -105px;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background: none;
  color: var(--color-accent-hover);
}

@media screen and (min-width: 700px) {
  .float-end {
    float: none !important;
  }

  .offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav_items {
    direction: rtl;
  }
  .dropdown-toggle-split {
    margin-right: 0;
    display: none;
  }
  .rtl .dropdown-menu {
    margin-top: -0.3rem;
    margin-bottom: 1rem;
    width: 800px;
    height: 350px;
  }

  .dropdown_items {
    margin-top: 2rem;
    width: 800px;
    height: 350px;
    font-size: 1.5rem;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: -2px 16px 26px 4px rgba(0, 0, 0, 0.2);
    list-style: none;
  }
  .dropdown-item {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }

  .D_menu1 {
    left: -660px;
  }
  .D_menu2 {
    left: -420px;
  }
  .D_menu3 {
    left: -260px;
  }
  .D_menu4 {
    left: -157px;
  }
  .D_menu5 {
    left: -30px;
  }
  .nav-item {
    margin-right: 5rem;
  }
}

/* grid */
@media screen and (min-width: 700px) {
  .nav,
  .nav_container {
    padding: 0;
    margin: 0;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 10% auto auto auto auto auto;
    grid-template-rows: auto auto;
    width: 100vw;
  }
  .grid_item {
    text-align: center;
  }
  .col3 {
    grid-column: 1;
    grid-row: 1;
  }
  .col2 {
    grid-column: 2/5;
    grid-row: 1;
  }
  .col1 {
    grid-column: 5/7;
    grid-row: 1;
  }
  .col4 {
    grid-column: 1/7;
    grid-row: 2;
    border-top: var(--color-accent) 2px solid;
    margin-top: 1.5rem;
    box-shadow: -2px 16px 26px 4px rgba(0, 0, 0, 0.2);
  }
}
/* carousel */

.carousel_width {
  width: 100%;
  height: 350px;
}
.c_item {
  height: 350px;
}
.c_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-indicators .active {
  background-color: var(--color-accent); /* Change to your desired color */
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  font-size: 2rem;
  filter: invert(32%) sepia(77%) saturate(2889%) hue-rotate(342deg)
    brightness(97%) contrast(92%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.caption_header {
  height: 225px; /* For medium and large screens */
  max-height: 350px; /* Ensure it doesn't exceed this height */
  width: 100%; /* For medium and large screens */
  max-width: 100%; /* Ensure it doesn't exceed this width */
  margin: 0; /* Center the container horizontally */
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center the h1 horizontally */
  align-items: center; /* Center the h1 vertically */
}

.caption_header h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.c_caption p {
  font-size: 1.5rem;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

@media (min-width: 700px) and (max-width: 1700px) {
  .carousel_width {
    width: 80%;
    height: 450px;
  }
  .c_item {
    height: 450px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 100px;
  }

  .caption_header {
    height: 300px; /* For medium and large screens */
    max-height: 450px; /* Ensure it doesn't exceed this height */
  }

  .caption_header h1 {
    font-size: 6rem;
  }

  .c_caption p {
    font-size: 3rem;
  }
}

@media (min-width: 1701px) {
  .carousel_width {
    width: 70%;
    height: 450px;
  }
  .c_item {
    height: 450px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 120px;
  }

  .caption_header {
    height: 300px; /* For medium and large screens */
    max-height: 450px; /* Ensure it doesn't exceed this height */
  }

  .caption_header h1 {
    font-size: 10rem;
  }

  .c_caption p {
    font-size: 4rem;
  }
}

/* info_grid */

.info_icon {
  margin-top: -10px;
  font-size: 45px;
}
.info_icon_gift {
  margin-top: -15px;
}

.info_text h3 {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
  padding: 0;
  color: #101125;
  text-wrap: nowrap;
}

.info_text p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  color: #0e0f21b2;
  text-wrap: nowrap;
}

@media (min-width: 700px) {
  .info_text h3 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }

  .info_text p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
/* card_Gallery */
.col-1 {
  display: none;
}
.card_GalleryTitle h2 {
  font-size: 3rem;
}

.card_GalleryTitle p {
  font-size: 2.1rem;
}

.countdown-item {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}

.countdown-circle {
  width: 35px;
  height: 35px;
  background-color: var(--color-accent); /* Circle background color */
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-circle span {
  font-size: 20px;
  color: #fff;
}

.countdown-label {
  font-size: 12px;
  font-weight: bold;
}
.scroll-container {
  overflow-x: auto;
}

.scroll-button {
  display: none;
}

.card_Gallery {
  background-color: #f8f9fb;
}
.card {
  width: 25rem;
}

.card-body h4 {
  font-size: 1.2rem;
}

.card-body p {
  font-size: 2rem;
}
.overflow-auto {
  overflow-x: auto;
}

.price_off {
  background-color: var(--color-accent);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
}

.text_line_through {
  color: var(--color-accent);
  margin-right: 1.5rem;
}
.price {
  margin-right: 2rem;
}
.price span {
  color: green;
  font-size: 2rem;
}

.card_GalleryBody {
  align-items: center;
}

@media (min-width: 700px) {
  .col-1 {
    display: block;
    width: auto;
    rotate: -90deg;
    margin-left: -25px;
  }
  .bi-rainbow {
    font-size: 65px;
    color: var(--color-accent);
  }

  .card_GalleryTitle h2 {
    font-size: 4rem;
  }

  .card_GalleryTitle p {
    font-size: 2.5rem;
  }

  .countdown-item {
    margin: 0 10px;
  }

  .countdown-circle {
    width: 50px;
    height: 50px;
  }

  .countdown-circle span {
    font-size: 25px;
  }

  .countdown-label {
    font-size: 16px;
  }

  .scroll-container {
    overflow: hidden;
  }
  .scroll-button {
    cursor: pointer;

    color: #fff;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background-color: var(--color-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll-button .bi {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card {
    width: 30rem;
  }

  .card-body h4 {
    font-size: 1.5rem;
  }

  .card-body p {
    font-size: 2.1rem;
  }
  .price_off {
    font-size: 2rem;
    padding: 0.5rem;
    height: 40px;
    width: 40px;
  }

  .text_line_through {
    margin-right: 2rem;
  }
  .price {
    margin-right: 0.5rem;
  }
}

/* badge */
.rounded-pill {
  width: 50px;
  height: 30px;
  display: flex;
}
.rounded-pill span {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rounded-pill p {
  font-size: 1.6rem;
}
.bi-star-fill {
  font-size: 1.5rem;
}

.badge_cart {
  top: 50%;
  width: 98%;
  opacity: 0;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 700px) {
  .badge_cart {
    top: 54%;
  }
  .rounded-pill p {
    font-size: 1.8rem;
  }
  .bi-star-fill {
    font-size: 1.7rem;
  }
}
