:root {
  --color-primary: #324376;
  --color-secondary: #586ba4;
  --color-background: #fdfffc;
  --color-accent: #d52941;
  --color-accent-hover: #ef3e36;
  --color-text: #ffffff;
  --color-border: #1f1f1f;
  --border-radius: 50px;
}
html {
  font-size: 62.5%;
}
body {
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;

  color: var(--color-body);
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}
@media screen and (min-width: 900px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
/* images */
@media screen and (min-width: 900px) {
  .img_logo {
    float: right;
    margin-right: 20rem;
  }
}
/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-primary);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
  text-align: right;
}

::placeholder {
  color: #cdcbd7;
  text-align: right;
}

.input--group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input--group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input--group .b_btn {
  margin: 4px;
}

@media screen and (min-width: 900px) {
  .input {
    font-size: 1.5rem;
  }
  .input--group {
    margin-left: 22rem;
  }
}

/* icons */
.icon {
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
}
.icon--search {
  filter: invert(20%) sepia(89%) saturate(405%) hue-rotate(185deg)
    brightness(99%) contrast(90%);
}
.icon--menu,
.icon--user {
  filter: invert(43%) sepia(14%) saturate(1615%) hue-rotate(187deg)
    brightness(91%) contrast(83%);
}
.icon--cart {
  filter: invert(32%) sepia(77%) saturate(2889%) hue-rotate(342deg)
    brightness(97%) contrast(92%);
}

.icon--search:hover {
  filter: invert(17%) sepia(8%) saturate(6882%) hue-rotate(194deg)
    brightness(88%) contrast(86%);
}
.icon--menu:hover,
.icon--user:hover {
  filter: invert(32%) sepia(19%) saturate(1080%) hue-rotate(187deg)
    brightness(88%) contrast(96%);
}
.icon--cart:hover {
  filter: invert(23%) sepia(21%) saturate(7469%) hue-rotate(345deg)
    brightness(98%) contrast(93%);
}

/* Buttons */

.btn_sape {
  border-radius: 50px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--accent {
  background: none;
  color: #fff;
  font-size: 0;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 0;
  margin: 0;
}
.btn_cart {
  background-color: var(--color-accent);
  color: #fff;
  width: 80px;
  border-radius: 100px;
  margin-top: -2px;
}
.btn_cart span {
  display: none;
}
.btn_cart i {
  font-size: 2.5rem;
}

.btn_cart:hover,
.btn_all:hover,
.btn_all:active,
.btn_cart:active {
  background-color: var(--color-accent-hover) !important;
  color: #fff !important;
  outline: none;
}

.btn_all {
  background-color: var(--color-accent);
  color: #fff;
  font-size: 2rem;
  border: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 50px;
}

@media screen and (min-width: 900px) {
  .btns {
    position: absolute;
    left: 20rem;
    top: 1rem;
  }
  .btn_cart {
    width: 150px;
    border-radius: 25px;
  }
  .btn_cart span {
    display: block;
  }
  .btn_cart i {
    display: none;
  }
  .btn_all {
    font-size: 2.5rem;
  }
}
/* dropdown */
.rtl {
  direction: rtl;
}
.rtl .dropdown-menu {
  text-align: right;
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.btn_Dropdown {
  background: none;
  border: none;
}
.dropdown-toggle-split {
  float: left;
  margin-right: 0;
  margin-left: -105px;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background: none;
  color: var(--color-accent-hover);
}

@media screen and (min-width: 900px) {
  .float-end {
    float: none !important;
  }

  .offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .nav_items {
    direction: rtl;
  }
  .dropdown-toggle-split {
    margin-right: 0;
    display: none;
  }
  .rtl .dropdown-menu {
    margin-top: -0.3rem;
    margin-bottom: 1rem;
    width: 800px;
    height: 350px;
  }

  .dropdown_items {
    margin-top: 2rem;
    width: 800px;
    height: 350px;
    font-size: 1.5rem;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: -2px 16px 26px 4px rgba(0, 0, 0, 0.2);
  }
  .dropdown-item {
    padding-top: 1.5rem;
    padding-right: 1.5rem;
  }

  .D_menu1 {
    left: -660px;
  }
  .D_menu2 {
    left: -420px;
  }
  .D_menu3 {
    left: -260px;
  }
  .D_menu4 {
    left: -157px;
  }
  .D_menu5 {
    left: -30px;
  }
  .nav-item {
    margin-right: 5rem;
  }
}

/* grid */
@media screen and (min-width: 900px) {
  .nav,
  .nav_container {
    padding: 0;
    margin: 0;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 10% auto auto auto auto auto;
    grid-template-rows: auto auto;
    width: 100vw;
  }
  .grid_item {
    text-align: center;
  }
  .col3 {
    grid-column: 1;
    grid-row: 1;
  }
  .col2 {
    grid-column: 2/5;
    grid-row: 1;
  }
  .col1 {
    grid-column: 5/7;
    grid-row: 1;
  }
  .col4 {
    grid-column: 1/7;
    grid-row: 2;
    border-top: var(--color-accent) 2px solid;
    margin-top: 1.5rem;
    box-shadow: -2px 10px 20px 2px rgba(0, 0, 0, 0.1);
  }
}
/* carousel */

.carousel_width {
  width: 100%;
  height: 350px;
}
.c_item {
  height: 350px;
}
.c_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.carousel-indicators .active {
  background-color: var(--color-accent); /* Change to your desired color */
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  font-size: 2rem;
  filter: invert(32%) sepia(77%) saturate(2889%) hue-rotate(342deg)
    brightness(97%) contrast(92%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.caption_header {
  height: 225px; /* For medium and large screens */
  max-height: 350px; /* Ensure it doesn't exceed this height */
  width: 100%; /* For medium and large screens */
  max-width: 100%; /* Ensure it doesn't exceed this width */
  margin: 0; /* Center the container horizontally */
  display: flex; /* Enable flexbox layout */
  justify-content: center; /* Center the h1 horizontally */
  align-items: center; /* Center the h1 vertically */
}

.caption_header h1 {
  padding: 0;
  margin: 0;
  font-size: 4rem;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}
.c_caption p {
  font-size: 1.5rem;
  text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px,
    rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px,
    rgb(0, 0, 0) -0.832294px 1.81859px 0px,
    rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px,
    rgb(0, 0, 0) -1.87291px -0.701566px 0px,
    rgb(0, 0, 0) -1.30729px -1.5136px 0px,
    rgb(0, 0, 0) -0.421592px -1.95506px 0px,
    rgb(0, 0, 0) 0.567324px -1.91785px 0px,
    rgb(0, 0, 0) 1.41734px -1.41108px 0px,
    rgb(0, 0, 0) 1.92034px -0.558831px 0px;
}

@media (min-width: 900px) and (max-width: 1900px) {
  .carousel_width {
    width: 80%;
    height: 450px;
  }
  .c_item {
    height: 450px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 100px;
  }

  .caption_header {
    height: 300px; /* For medium and large screens */
    max-height: 450px; /* Ensure it doesn't exceed this height */
  }

  .caption_header h1 {
    font-size: 6rem;
  }

  .c_caption p {
    font-size: 3rem;
  }
}

@media (min-width: 1701px) {
  .carousel_width {
    width: 70%;
    height: 450px;
  }
  .c_item {
    height: 450px;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
  .carousel-control-prev:hover .carousel-control-prev-icon,
  .carousel-control-next:hover .carousel-control-next-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 120px;
  }

  .caption_header {
    height: 300px; /* For medium and large screens */
    max-height: 450px; /* Ensure it doesn't exceed this height */
  }

  .caption_header h1 {
    font-size: 10rem;
  }

  .c_caption p {
    font-size: 4rem;
  }
}

/* info_grid */

.info_icon {
  margin-top: -10px;
  font-size: 45px;
}
.info_icon_gift {
  margin-top: -15px;
}

.info_text h3 {
  font-size: 2.2rem;
  margin-bottom: 0.3rem;
  padding: 0;
  color: #101125;
  text-wrap: nowrap;
}

.info_text p {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  color: #0e0f21b2;
  text-wrap: nowrap;
}

@media (min-width: 900px) {
  .info_text h3 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }

  .info_text p {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
}
/* card_Gallery */
.col-1 {
  display: none;
}
.card_GalleryTitle h2 {
  font-size: 3rem;
}

.card_GalleryTitle p {
  font-size: 2.1rem;
}

.countdown-item {
  display: inline-block;
  text-align: center;
  margin: 0 7px;
}

.countdown-circle {
  width: 35px;
  height: 35px;
  background-color: var(--color-accent); /* Circle background color */
  border-radius: 50%;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown-circle span {
  font-size: 20px;
  color: #fff;
}

.countdown-label {
  font-size: 12px;
  font-weight: bold;
}
.scroll-container {
  overflow-x: auto;
}

.scroll-button {
  display: none;
}

.card_Gallery,
.paper_Gallery {
  background-color: #f8f9fb;
}
.card {
  width: 25rem;
}

.card-body h4 {
  font-size: 1.2rem;
}

.card-body p {
  font-size: 2rem;
}
.overflow-auto {
  overflow-x: auto;
}

.red_circle {
  background-color: var(--color-accent);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0.4rem;
  border-radius: 50%;
  display: inline-block;
}
.price_off {
  height: 30px;
  width: 30px;
}
.product_circle {
  height: 30px;
  width: 30px;
  padding: 0;
}

.text_line_through {
  color: var(--color-accent);
  margin-right: 1.5rem;
}
.price {
  margin-right: 2rem;
}
.price span {
  color: green;
  font-size: 2rem;
}

.card_GalleryBody {
  align-items: center;
}

.paper_card {
  width: 250px;
}
.paper_card img {
  border: 8px solid rgba(97, 97, 97, 0.46);
}
.comment_count {
  margin-top: 2.5px;
}
.paper_footer {
  margin-top: -6px;
}
@media (min-width: 900px) {
  .col-1 {
    display: block;
    width: auto;
    rotate: -90deg;
    margin-left: -25px;
  }
  .bi-rainbow {
    font-size: 65px;
    color: var(--color-accent);
  }

  .card_GalleryTitle h2 {
    font-size: 4rem;
  }

  .card_GalleryTitle p {
    font-size: 2.5rem;
  }

  .countdown-item {
    margin: 0 10px;
  }

  .countdown-circle {
    width: 50px;
    height: 50px;
  }

  .countdown-circle span {
    font-size: 25px;
  }

  .countdown-label {
    font-size: 16px;
  }

  .scroll-container {
    overflow: hidden;
  }
  .scroll-button {
    cursor: pointer;

    color: #fff;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    background-color: var(--color-accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .scroll-button .bi {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .card {
    width: 30rem;
  }

  .card-body h4 {
    font-size: 1.5rem;
  }

  .card-body p {
    font-size: 2.1rem;
  }
  .red_circle {
    font-size: 2rem;
    padding: 0.5rem;
  }
  .price_off {
    height: 40px;
    width: 40px;
  }
  .product_circle {
    height: 30px;
    width: 30px;
    padding: 0;
  }

  .text_line_through {
    margin-right: 2rem;
  }
  .price {
    margin-right: 0.5rem;
  }
  .paper_card {
    width: 400px;
  }
  .paper_footer {
    padding-left: 25px;
    margin-top: -3px;
  }
  .comment_count {
    margin-top: 0;
  }
}

/* badge */
.rounded-pill {
  width: 50px;
  height: 30px;
  display: flex;
}
.rounded-pill span {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rounded-pill p {
  font-size: 1.6rem;
}
.bi-star-fill {
  font-size: 1.5rem;
}

.badge_cart {
  top: 50%;
  width: 98%;
  opacity: 0;
  margin: 0;
}
.newP_Gallery .badge_cart {
  top: 54%;
}
.p_card .badge_cart {
  top: 44%;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 900px) {
  .badge_cart {
    top: 54%;
  }
  .newP_Gallery .badge_cart {
    top: 58%;
  }
  .p_card .badge_cart {
    top: 60%;
  }
  .rounded-pill p {
    font-size: 1.8rem;
  }
  .bi-star-fill {
    font-size: 1.7rem;
  }
}
/* about us */
.social {
  background-color: var(--color-accent-hover);
  color: #fff;
  border-radius: 50px;
  width: 100%;
  margin-top: 25px;
}
.social,
.about_text {
  margin-bottom: 2rem;
}
.social .fs-3 {
  display: none;
}
.about_logo {
  background-color: #fff;
  border-radius: 15px;
  width: 140px;
  height: 70px;
  position: relative;
  right: 32%;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_text h3 span,
.Separating_line,
.about_input span {
  color: var(--color-accent-hover);
}
.trust_section .col-4 {
  margin: 1.5rem;
}
.security_img {
  width: 90px;
}
.about_input .input--group {
  height: 42px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.btn--enter {
  background: var(--color-accent);
  color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 50px;
  padding: 0;
  margin: 3px;
}
.btn--enter:hover {
  background: var(--color-accent-hover);
}
.about_text_body {
  text-align: justify;
  width: 90%;
}

@media (min-width: 900px) {
  .social {
    width: 350px;
    margin-top: 30px;
  }
  .social,
  .about_text {
    margin-bottom: 0;
  }
  .social .fs-3 {
    display: block;
  }
  .about_logo {
    right: 100px;
  }
  .security_img {
    width: 100px;
  }
  .about_input .input--group {
    height: auto;
    width: 100%;
  }
  .btn--enter {
    height: 40px;
    width: 40px;
  }
  .about_text_body {
    width: 100%;
  }
}
/* Product_list */
.plist-order {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.plist-btn {
  border: none;
}
.btn_order {
  border: none;
  color: black;
}
.p_card {
  width: 30%;
}
.filter_menu {
  border: 2px solid var(--color-accent-hover);
}
.collaps_body .card-body {
  max-width: 200px;
}
.collaps_body .scroll-container {
  max-height: 120px;
}

.center-line {
  width: 75%; /* عرض خط */
  margin: 0 auto; /* تراز مرکزی */
  margin-top: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.405); /* مشخص کردن خط */
}
/* price_range_card */
.price_range_card {
  width: 100%;
}
.price_range_card h4 {
  font-size: 2rem;
  margin-right: 10px;
  text-align: end;
}
.price-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
}
.price-content label {
  font-size: 14px;
  width: 500;
}
.price-content p {
  font-size: 16px;
  width: 600;
}
.range-slider {
  width: 100%;
  position: relative;
  margin: 15px 0 50px 0;
}
.range-fill {
  height: 6px;
  background-color: var(--color-accent-hover);
  position: absolute;
  z-index: 1;
  width: 100%;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  position: absolute;
  left: 0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--color-accent);
  cursor: pointer;
  margin-top: -5px;
  position: relative;
  z-index: 1;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background: #e8e8e8;
  border-radius: 3px;
  border: none;
}
.order-row {
  display: none;
}
.filter_page {
  display: none;
}
.p_number {
  display: none;
}

/* product_gallery */
.main_row {
  display: flex;
  justify-content: center;
}

.product_gallery .card {
  width: 22rem;
}
.product_gallery .card-img-top {
  width: 70%;
  margin: 0 auto;
}
.product_gallery h4 {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.product_gallery p {
  font-size: 1.4rem;
}
.product_gallery .price span,
.product_gallery .price {
  font-size: 1.7rem;
  margin-right: 5px;
}

@media (min-width: 900px) {
  .order-row {
    display: block;
  }
  .filter_page {
    display: block;
  }
  .p_number {
    display: block;
  }
  .price-content {
    display: block;
    align-items: center;
    justify-content: space-around;
    margin: 0 10px;
  }
  .range-slider {
    width: 85%;
    position: relative;
    margin: 20px 0 50px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .product_gallery .card {
    width: 30rem;
  }
  .product_gallery .card-img-top {
    width: 100%;
    margin: 0 auto;
  }
  .product_gallery h4 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
  }
  .product_gallery p {
    font-size: 2rem;
  }
  .product_gallery .price span,
  .product_gallery .price {
    font-size: 2rem;
    margin-right: 2px;
  }
}

/* checkbox */

.checkbox_color:checked {
  background-color: var(--color-accent-hover);
  border-color: var(--color-accent-hover);
}
.checkbox_color:focus {
  border-color: var(--color-accent-hover);
  box-shadow: 0 0 0 0.25rem rgba(239, 62, 54, 0.25);
}
.form-switch .checkbox_color:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='pink'/%3e%3c/svg%3e");
}
/* footer */
.footer {
  background-color: #f8f9fb;
}
.footer_links,
.footer_about_p2 {
  display: none;
}
.footer_about_p1 {
  text-align: center;
}
.footer_about_p1 span {
  color: var(--color-accent-hover);
}
@media (min-width: 900px) {
  .footer_links,
  .footer_about_p2 {
    display: block;
    white-space: nowrap;
  }
  .footer_about_p1 {
    text-align: right;
  }
}
