<div class="container text-center mt-3">
  <div class="row" dir="rtl">
    <div class="col d-flex flex-column">
      <div class="social">
        <a href="#">
          <div class="about_logo">
            <img
              src="images/logo.webp"
              alt="logo"
              class="img-fluid"
              width="100px"
            />
          </div>
        </a>

        <div class="row mb-5 justify-content-center fs-1">
          <div class="col-2">
            <a href="#"><i class="bi bi-instagram text-white"></i></a>
          </div>
          <div class="col-2">
            <a href="#"><i class="bi bi-telegram text-white"></i></a>
          </div>
          <div class="col-2">
            <a href="#"><i class="bi bi-twitter text-white"></i></a>
          </div>
          <div class="col-2">
            <a href="#"><i class="bi bi-facebook text-white"></i></a>
          </div>
        </div>
        <p class="fs-2 mb-5">۰۲۱<span class="fs-1 ms-2">۴۰۰۸۱۴۴</span></p>
        <p class="fs-3 mb-2">info@Sitename.com</p>
        <p class="fs-3 mb-5">تهران، اشرفی اصفهانی، جلال آل احمد</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 text-end mx-5 about_text">
      <h3>درباره<span> فروشگاه</span></h3>
      <p class="Separating_line">______</p>
      <p class="about_text_body fs-4">
        فروشگاه اینترنتی فعالیت خود را از سال ۱۳۹۸ در زمینه فروش کیف پول های سخت
        افزاری شروع نموده است . این مجموعه کالا های خود را بدون واسطه و از طریق
        شرکت های اصلی سازنده کیف پول های سخت افزاری به صورت مستقیم تامین می کند
        و همچنین ضمانت اصالت و سلامت کالا را به تمام مشتریان ارائه می دهد. هدف
        اصلی ما در مجموعه تهران ولت در تمام این مدت تا به امروز این بوده است که
        شما عزیزان را برای خریدی بهتر به درستی راهنمایی کنیم تا در دنیای زیبای
        ارز های دیجیتال با خیالی آسوده ارز های خود را به صورت کاملا امن نگهداری
        کنید.
      </p>
    </div>
    <div class="col mx-5 mx-md-0 text-end pb-3">
      <h3>نماد اعتماد</h3>
      <p class="opacity-75">راه های اعتماد به فروشگاه</p>
      <p class="Separating_line">______</p>
      <div class="row d-flex justify-content-center">
        <div class="col-4">
          <a href="#"
            ><img src="/images/namad-1.png" alt="" class="security_img"
          /></a>
        </div>
        <div class="col-4">
          <a href="#"
            ><img src="/images/namad-2.png" alt="" class="security_img"
          /></a>
        </div>
      </div>
      <div class="about_input">
        <h4 class="mt-3 fs-3">عضویت در <span>خبرنامه</span></h4>
        <div class="input--group mt-4" dir="ltr">
          <button class="btn_sape btn--enter" type="button">ثبت</button>
          <input
            type="email"
            class="input"
            placeholder="ایمیل شما"
            aria-label="ایمیل شما"
          />
        </div>
      </div>
    </div>
  </div>
</div>
