<div class="card_Gallery mt-5">
  <div class="container text-center pt-3">
    <div class="row" dir="rtl">
      <div class="col-1">
        <i class="bi bi-rainbow"></i>
      </div>
      <div class="col text-end card_GalleryTitle me-5">
        <h2>محصولات</h2>
        <p>شگفت انگیز</p>
      </div>
      <div class="col-7 col-xl-auto">
        <div id="countdown" class="text-center">
          <div class="countdown-item">
            <div class="countdown-circle"><span id="days">۰۰</span></div>
            <div class="countdown-label">روز</div>
          </div>
          <div class="countdown-item">
            <div class="countdown-circle"><span id="hours">۰۰</span></div>
            <div class="countdown-label">ساعت</div>
          </div>
          <div class="countdown-item">
            <div class="countdown-circle"><span id="minutes">۰۰</span></div>
            <div class="countdown-label">دقیقه</div>
          </div>
          <div class="countdown-item">
            <div class="countdown-circle"><span id="seconds">۰۰</span></div>
            <div class="countdown-label">ثانیه</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- card_GalleryBody -->
  <div class="container text-center card_GalleryBody mt-5 pt-3 d-flex">
    <button
      class="scroll-button me-3"
      id="scroll-left"
      aria-label="Scroll Left"
    >
      <i class="bi bi-chevron-left"></i>
    </button>

    <div class="scroll-container" dir="rtl">
      <div class="scroll-content row flex-nowrap">
        <div class="col">
          <div class="card rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card_body rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through me-5 fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card_body rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through me-5 fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card_body rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through me-5 fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card_body rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through me-5 fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card_body rounded-5 position-relative">
            <span
              class="badge rounded-pill text-bg-primary position-absolute ms-3 mt-3 top-0 start-0"
              dir="ltr"
              ><i class="bi bi-star-fill me-2"></i>
              <p>۰</p></span
            >
            <a
              href=""
              class="badge badge_cart text-bg-success fs-4 rounded-bottom-5 text-decoration-none position-absolute start-0 end-0 mx-auto"
            >
              مشاهده محصول</a
            >
            <img
              src="images/c1.jpg"
              class="card-img-top mt-3 rounded-5"
              alt="..."
            />
            <div class="card-body">
              <h4 class="card-title fs-3 text-end fw-bold mt-4">
                شارژر همراه شیائومی
              </h4>
              <p class="card-text text-end mt-2">
                مدل Redmi PB200LZM ظرفیت 20000 میلی آمپر ساعت
              </p>
              <div class="row mt-3 flex-column align-items-start">
                <div class="col text-end">
                  <p>
                    <span class="price_off fw-bold"> ۷٪ </span
                    ><span
                      class="text-decoration-line-through text_line_through me-5 fs-2"
                      >۵۶۶,۰۰۰</span
                    >
                  </p>
                </div>
                <div
                  class="col d-flex justify-content-between align-items-center mt-2"
                >
                  <p class="fs-2 price mt-2"><span>۵۲۵,۰۰۰</span> تومان</p>
                  <a href="#" class="btn btn_cart fs-3"
                    ><span>اضافه به سبد خرید</span>
                    <i class="bi bi-bag-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="scroll-button ms-3"
      id="scroll-right"
      aria-label="Scroll right"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
