<div class="col-2 pt-5 filter_page">
  <div class="rounded-5 filter_menu mt-5">
    <h3 class="pt-3">فیلتر محصولات</h3>
    <div class="pt-3 pe-4">
      <div class="form-check form-check-reverse form-switch">
        <input
          class="form-check-input checkbox_color"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >فقط کالا‌های موجود</label
        >
      </div>
      <div class="form-check form-check-reverse form-switch pt-2">
        <input
          class="form-check-input checkbox_color"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >فقط کالا‌های تخفیف دار</label
        >
      </div>
    </div>
    <div class="center-line"></div>
    <div class="pt-3">
      <p class="text-end px-4">
        <input
          type="checkbox"
          class="btn-check"
          id="toggleCheckbox"
          autocomplete="off"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        />
        <label
          class="btn btn-outline-danger w-100 d-flex justify-content-between align-items-center"
          for="toggleCheckbox"
        >
          <span class="me-2 order-1">
            <i class="bi bi-chevron-compact-down"></i>
          </span>
          <span class="order-2 fs-4"> تولید کننده </span>
        </label>
      </p>
      <div class="collaps_body">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body border-0">
            <div class="scroll-container overflow-auto">
              <!-- این والد با کلاس scroll-container افزوده شده است -->
              <div class="form-check form-check-reverse me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  Microsoft
                </label>
              </div>
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked2"
                />
                <label class="form-check-label" for="flexCheckChecked2">
                  Razer
                </label>
              </div>
              <!-- اضافه کردن چک باکس‌ها به این والد باعث می‌شود که اسکرول به درستی نمایش داده شود -->
              <!-- افزوده شدن چک باکس‌های بیشتر اینجا -->
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked3"
                />
                <label class="form-check-label" for="flexCheckChecked3">
                  Logitech
                </label>
              </div>
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked4"
                />
                <label class="form-check-label" for="flexCheckChecked4">
                  Onikuma
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---- -->
    <div class="pt-3">
      <p class="text-end px-4">
        <input
          type="checkbox"
          class="btn-check"
          id="toggleCheckbox2"
          autocomplete="off"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample2"
          aria-expanded="false"
          aria-controls="collapseWidthExample2"
        />
        <label
          class="btn btn-outline-danger w-100 d-flex justify-content-between align-items-center"
          for="toggleCheckbox2"
        >
          <span class="me-2 order-1">
            <i class="bi bi-chevron-compact-down"></i>
          </span>
          <span class="order-2 fs-4"> رنگ</span>
        </label>
      </p>
      <div class="collaps_body">
        <div class="collapse collapse-horizontal" id="collapseWidthExample2">
          <div class="card card-body border-0">
            <div class="scroll-container overflow-auto">
              <!-- این والد با کلاس scroll-container افزوده شده است -->
              <div class="form-check form-check-reverse me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked"
                />
                <label class="form-check-label" for="flexCheckChecked">
                  سفید
                </label>
              </div>
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked2"
                />
                <label class="form-check-label" for="flexCheckChecked2">
                  سیاه
                </label>
              </div>
              <!-- اضافه کردن چک باکس‌ها به این والد باعث می‌شود که اسکرول به درستی نمایش داده شود -->
              <!-- افزوده شدن چک باکس‌های بیشتر اینجا -->
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked3"
                />
                <label class="form-check-label" for="flexCheckChecked3">
                  آبی
                </label>
              </div>
              <div class="form-check form-check-reverse pt-3 me-4">
                <input
                  class="form-check-input checkbox_color"
                  type="checkbox"
                  value=""
                  id="flexCheckChecked4"
                />
                <label class="form-check-label" for="flexCheckChecked4">
                  سبز
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-line"></div>
    <!-- price_range_card -->
    <div class="price_range_card pt-3">
      <h4>محدوده قیمت</h4>
      <div class="price-content rtl">
        <div>
          <label for="" class="min">حداقل قیمت</label>
          <p class="min-value">100000 تومن</p>
        </div>
        <div>
          <label for="" class="max"> حدکثر قیمت</label>
          <p class="max-value">1000000000 تومن</p>
        </div>
      </div>
      <div class="range-slider rtl">
        <div class="range-fill"></div>
        <input
          type="range"
          title="حداقل قیمت"
          label="حداقل قیمت"
          class="min-price Prange"
          value="100000"
          min="100000"
          max="1000000000"
          step="100"
        />
        <input
          type="range"
          title="حداکثر قیمت"
          label="حداکثر قیمت"
          class="max-price Prange"
          value="1000000000"
          min="100000"
          max="1000000000"
          step="100"
        />
      </div>
      <button class="btn btn_cart fs-3 mb-4">اعمال فیلتر‌ قیمت</button>
    </div>
  </div>
</div>
