<footer class="footer mt-5">
  <div class="container text-center pt-3 footer_body" dir="rtl">
    <div class="row">
      <div class="col-sm-12 col-md-8 footer_links">
        <div class="container">
          <div class="row text-end fs-4 mt-3">
            <div class="col-2">
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 1</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 2</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 3</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 4</a>
                </li>
              </ul>
            </div>
            <div class="col-2">
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 1</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 2</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 3</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 4</a>
                </li>
              </ul>
            </div>
            <div class="col-2">
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 1</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 2</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 3</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 4</a>
                </li>
              </ul>
            </div>
            <div class="col-2">
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 1</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 2</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 3</a>
                </li>
                <li>
                  <a href="#" class="text-decoration-none text-dark">op 4</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <h4 class="text-end">دانلود اپلیکیشن</h4>
        <div class="container text-center mt-4">
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-4 col-md-5">
              <a href="#">
                <img src="/images/bazar-download.svg" alt="Download" />
              </a>
            </div>
            <div class="col-4 col-md-5">
              <a href="#">
                <img src="/images/sibche-download.svg" alt="Download" />
              </a>
            </div>
          </div>
          <div
            class="row d-flex justify-content-center align-items-center mt-3"
          >
            <div class="col-4 col-md-5">
              <a href="#">
                <img src="/images/sibapp-download.svg" alt="Download" />
              </a>
            </div>
            <div class="col-4 col-md-5">
              <a href="#">
                <img src="/images/pwa-download.svg" alt="Download" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 mt-3 footer_about_p1">
        <p class="fs-3">
          کلیه حقوق این سایت متعلق به <span>فروشگاه</span> است.
        </p>
      </div>
      <div class="col mt-3 text-start footer_about_p2">
        <p>طراحی و پیاده سازی</p>
      </div>
    </div>
  </div>
</footer>
