<!-- info_grid -->
<div class="container text-center mt-5 " dir="rtl">
    <div class="row me-sm-5 g-sm-5 mx-2 flex-nowrap overflow-auto overflow-y-hidden">
      <div class="col d-flex gx-5">
        <i class="bi bi-truck info_icon"></i>
        <div class="me-4 info_text">
          <h3 class="fw-bold">ارسال سفارش</h3>
          <p>در سریعترین زمان</p>
        </div>
      </div>
      <!--c2 -->
      <div class="col d-flex gx-5 gx-sm-0">
        <i class="bi bi-credit-card-2-back info_icon"></i>
        <div class="me-4 info_text">
          <h3 class="fw-bold">پرداخت امن</h3>
          <p>از درگاه معتبر بانکی</p>
        </div>
      </div>
      <!--c3-->
      <div class="col d-flex gx-5 gx-sm-0">
        <i class="bi bi-gift-fill info_icon info_icon_gift"></i>
        <div class="me-4 info_text">
          <h3 class="fw-bold">ارسال هدیه</h3>
          <p>برای اولین سفارش</p>
        </div>
      </div>
      <!--c4-->
      <div class="col d-flex gx-5 gx-sm-0">
        <i class="bi bi-arrow-clockwise info_icon"></i>
        <div class="me-4 info_text">
          <h3 class="fw-bold"> ۷ روز ضمانت</h3>
          <p>بازگشت محصول</p>
        </div>
      </div>
      <!--c5-->
      <div class="col d-flex gx-5 gx-sm-0">
        <i class="bi bi-headphones info_icon"></i>
        <div class="me-4 info_text">
          <h3 class="fw-bold">پشتیبانی آنلاین</h3>
          <p>در ۲۴ ساعت شبانه روز</p>
        </div>
      </div>
    </div>
  </div>